* {
  cursor: url("../src/image/vector/cursor.svg"), pointer;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.swiper-slide, .reviews__content, .indexes__text-box, .indexes__card, .modal-made__main, .modal-made__header, .modal-made__content, .made__description-btn, .made__main-content, .made__title-group, .made__content, .registration__input-group, .registration, .modal-buy__products-group, .modal-buy__form, .modal-buy__header, .modal-buy__content, .modal-buy__button, .navigation__list, .header__nav-body, .header__button, .header__button-group, .header__navigation, .header__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-made__title, .made__title, .modal-buy__title, .header__title {
  font-family: "Seymour One";
  font-style: normal;
}

.reviews__client-info, .reviews__commit, .indexes__description, .indexes__number, .modal-made__paragraf, .made__description-btn, .made__paragraf, .made__small-title, .statistics__name, .statistics__number, .registration__button, .registration__commit, .registration__input, .product-card, .modal-buy__button, .navigation__link, .header__text-button, .header__button {
  font-family: Montserrat;
  font-style: normal;
}

.header__paragraf {
  font-family: "DM Sans";
  font-style: normal;
}

.modal-title-franchise, .location__modal-title, .modal-header-chololate__title, .products__content-title {
  font-family: "Seymour One";
  font-style: normal;
}

.registration__input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
}

.contact__phone, .contact__text, .passion__title-made, .passion__title, .modal-body__text, .location__modal-button, .location__button, .franchise__button, .address__email, .address__link, .monday__time, .monday__week, .chicago__map, .chicago__text, .cafe__content-mark, .footer__content-text, .modal-body__form-button, .milk__numbers, .milk__text, .ingredients__title, .grams__info-text, .grams__info-circle-text, .soft__text, .soft__title, .products__content-natural, .registration__input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
}

.header {
  margin: 0;
  background: #84A178;
}
.header__content {
  position: relative;
  flex-direction: column;
  gap: 45px;
  padding-top: 8px;
  padding-bottom: 332px;
  background-image: url("../src/image/raster/section1-header/background-element__desktop.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}
.header__console {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  gap: 308px;
}
.header___main-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.header__information-group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 28px;
}
.header__title {
  width: 367px;
  color: #FCFCFC;
  font-size: 38px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.52px;
  text-transform: uppercase;
}
.header__button-group {
  gap: 34px;
}
.header__button {
  width: 134px;
  height: 42px;
  flex-shrink: 0;
  padding: 12px 34px;
  border: 2px solid #F8D24E;
  border-radius: 9px;
  color: #131313;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  transition: all 0.2s ease-in-out;
}
.header__button:hover {
  transform: scale(1.1);
  color: #000;
  border-color: #0A8817;
}
.header__button:focus {
  color: #FCFCFC;
  border-color: #0A8817;
}
.header__button:disabled {
  border-color: #ABABAB;
}
.header__text-button {
  color: #F8D24E;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  transition: all 0.2s ease-in-out;
}
.header__text-button:hover {
  transform: scale(1.1);
  color: #0A8817;
}
.header__text-button:focus {
  color: #FCFCFC;
}
.header__text-button:disabled {
  color: #ABABAB;
}
.header__dop-info {
  position: absolute;
  left: 257px;
  bottom: 103px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}
.header__paragraf {
  width: 200px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.header__navbar {
  display: none;
}
.logo__image {
  width: 60px;
  height: 65px;
  flex-shrink: 0;
}

.navigation__list {
  gap: 28px;
  padding: 0;
}
.navigation__link {
  color: #FCFCFC;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  transition: all 0.2s ease-in-out;
  display: flex;
}
.navigation__link:hover {
  transform: scale(1.05);
  color: #F8D24E;
}

.modal-buy__button {
  width: 152px;
  height: 42px;
  flex-shrink: 0;
  padding: 12px 35px;
  border-radius: 10px;
  background: #F8D24E;
  gap: 4px;
  color: #000;
  fill: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}
.modal-buy__button:hover {
  transform: scale(1.1);
  background: #0A8817;
}
.modal-buy__button:focus {
  color: #FCFCFC;
  fill: #FCFCFC;
  background: #0A8817;
}
.modal-buy__button:disabled {
  background: #ABABAB;
}
.modal-buy__button-icon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.modal-buy__content {
  width: 568px;
  position: relative;
  padding: 32px 54px;
  border-radius: 10px;
  border: 2px solid #F8D24E;
  background: #FCFCFC;
  flex-direction: column;
  gap: 103px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.modal-buy__title {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.modal-buy__close-btn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 12px;
  right: 12px;
}
.modal-buy__form {
  flex-direction: column;
  gap: 40px;
}
.modal-buy__products-group {
  gap: 32px;
}

.product-card {
  width: 132px;
  position: relative;
  padding: 95px 11px 20px 11px;
  border-radius: 15px;
  box-shadow: 0px 5.26px 19.726px 0px rgba(212, 20, 67, 0.1);
  color: #131313;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
.product-card__image {
  width: 176px;
  height: auto;
  flex-shrink: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.product-card:nth-child(2) {
  border: 2px solid #96AF8C;
}
.product-card:nth-child(4) {
  border: 2px solid #EFD478;
}
.product-card:nth-child(6) {
  border: 2px solid #D6936D;
}
.product-card__radio {
  display: none;
}
.product-card__radio:checked + .product-card:nth-child(2) {
  background-color: #96AF8C;
}
.product-card__radio:checked + .product-card:nth-child(4) {
  background-color: #EFD478;
}
.product-card__radio:checked + .product-card:nth-child(6) {
  background-color: #D6936D;
}

.registration {
  flex-direction: column;
  gap: 32px;
}
.registration__input-group {
  flex-direction: column;
  gap: 16px;
}
.registration__input {
  width: 368px;
  height: 42px;
  flex-shrink: 0;
  padding: 11px 16px;
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  border-radius: 10px;
  border: 1px solid #84A178;
  background: rgba(248, 210, 78, 0.1);
  outline: none;
}
.registration__input:focus-visible {
  border: 1px solid #F8D24E;
}
.registration__input::-moz-placeholder {
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.registration__input::placeholder {
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.registration__commit {
  width: 368px;
  height: 84px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #84A178;
  background: rgba(248, 210, 78, 0.1);
  padding: 11px 16px;
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  outline: none;
}
.registration__commit:focus-visible {
  border: 1px solid #F8D24E;
}
.registration__button {
  padding: 12px 34px;
  border-radius: 10px;
  background: #F8D24E;
  border: none;
  color: #131313;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}
.registration__button:hover {
  transform: scale(1.1);
  background: #0A8817;
}
.registration__button:focus {
  color: #FCFCFC;
  background: #0A8817;
}
.registration__button:disabled {
  background: #ABABAB;
}
.registration__submit {
  margin: 0 0 32px 0;
}

.arrow__icon {
  width: 40px;
  height: 16px;
  flex-shrink: 0;
  fill: #FCFCFC;
  transition: all 0.2s ease-in-out;
}
.arrow__icon:hover {
  transform: translateX(4px);
  fill: #0A8817;
}
.arrow__icon:focus {
  fill: #FCFCFC;
}
.arrow__icon:disabled {
  fill: #ABABAB;
}

.statistics {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 16px;
}
.statistics__element {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 4px;
}
.statistics__number {
  color: #131313;
  text-align: right;
  font-size: 46px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.84px;
  text-transform: uppercase;
}
.statistics__name {
  color: #FCFCFC;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__content {
    background-image: url("../src/image/raster/section1-header/background-element__desktop@2x.png");
  }
}
@media (max-width: 1200px) {
  .header__content {
    gap: 14px;
    padding-top: 20px;
    padding-bottom: 176px;
    background-image: url("../src/image/raster/section1-header/background-element__tablet.png");
  }
  .header__navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0;
  }
  .header__information-group {
    gap: 24px;
  }
  .header__title {
    width: 247px;
    font-size: 26px;
    letter-spacing: 1.04px;
  }
  .header__button-group {
    gap: 20px;
  }
  .header__button {
    width: 108px;
    height: 38px;
    padding: 11px 26px;
    font-size: 12px;
    line-height: normal;
  }
  .header__text-button {
    font-size: 12px;
  }
  .header__dop-info {
    left: 216px;
    bottom: 24px;
    gap: 29px;
  }
  .header__paragraf {
    width: 165px;
    font-size: 12px;
  }
  .header__nav-body {
    gap: 32px;
  }
  .header__navbar {
    display: flex;
  }
  .header__navbar-button {
    width: 32px;
    height: 32px;
    position: relative;
    box-shadow: none;
    border: none;
    outline: none;
  }
  .header__navbar-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    fill: #FFF;
    transition: all 0.2s ease-in-out;
  }
  .header__navbar-button-icon:hover {
    fill: #F8D24E;
  }
  .header__offcanvas {
    padding: 20px 32px;
    width: 100vw;
    height: 100vh;
    background-color: #84A178;
    gap: 76px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
  }
  .header__btn-close {
    margin: 12px 0 0 0 !important;
    padding: 0 !important;
    width: 32px;
    height: 32px;
  }
  .logo__image {
    width: 48px;
    height: 44px;
    flex-shrink: 0;
  }
  .navigation__list {
    flex-direction: column;
    gap: 40px;
  }
  .navigation__link {
    font-size: 48px;
  }
  .navigation__link:hover {
    color: #131313;
  }
  .statistics {
    gap: 20px;
  }
  .statistics__number {
    font-size: 28px;
    letter-spacing: 1.12px;
  }
  .statistics__name {
    font-size: 8px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .offcanvas-header {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 1200px) and (min-device-pixel-ratio: 2), (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1200px) and (min-resolution: 192dpi), (max-width: 1200px) and (min-resolution: 2dppx) {
  .header__content {
    background-image: url("../src/image/raster/section1-header/background-element__tablet@2x.png");
  }
}
@media (max-width: 768px) {
  .header__content {
    gap: 40px;
    padding: 14px 5px 150px 5px;
    background-image: url("../src/image/raster/section1-header/background-element__mobile.png");
    background-position: bottom 0 right 0;
    background-size: 330px auto;
  }
  .header__console {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .header__information-group {
    gap: 32px;
  }
  .header__button-group {
    gap: 12px;
  }
  .header__nav-body {
    gap: 0;
  }
  .header__offcanvas {
    padding: 20px 20px;
    gap: 40px;
  }
  .header__offcanvas-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 114px;
  }
  .header__btn-close {
    margin: 0 0 0 0 !important;
  }
  .navigation__list {
    gap: 32px;
  }
  .navigation__link {
    font-size: 32px;
  }
  .offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .modal-buy__content {
    width: 280px;
    padding: 28px;
    gap: 83px;
  }
  .modal-buy__title {
    font-size: 16px;
    line-height: 24px;
  }
  .modal-buy__close-btn {
    width: 20px;
    height: 20px;
  }
  .modal-buy__form {
    gap: 30px;
  }
  .modal-buy__products-group {
    flex-direction: column;
    gap: 85px;
  }
  .registration {
    gap: 26px;
  }
  .registration__input-group {
    gap: 12px;
  }
  .registration__input {
    width: 224px;
    height: 32px;
    padding: 8px 12px;
    font-size: 12px;
  }
  .registration__commit {
    width: 224px;
    height: 65px;
    padding: 8px 12px;
    font-size: 12px;
  }
  .registration__button {
    font-size: 12px;
  }
}
@media (max-width: 768px) and (min-device-pixel-ratio: 2), (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and (min-resolution: 192dpi), (max-width: 768px) and (min-resolution: 2dppx) {
  .header__content {
    background-image: url("../src/image/raster/section1-header/background-element__mobile@2x.png");
  }
}
@media (max-width: 480px) {
  .header__content {
    gap: 50px;
    padding: 12px 5px 236px 5px;
    background-position: left 50%, right 50%, bottom 0;
    background-size: 100% auto;
  }
  .header__offcanvas {
    padding: 12px 20px;
    gap: 50px;
  }
}
.products {
  background-image: url("../src/image/raster/section2-products/bg-products.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.products__content-title {
  padding: 60px 0 0 0;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  color: #131313;
}
.products__content-natural {
  color: #131313;
  font-size: 30px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 0 0 12px 0;
}

.ice {
  gap: 27px;
  padding: 280px 0 50px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cream {
  text-align: center;
  border-radius: 24px;
  background: #AEC6A5;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  width: 352px;
  height: 536px;
}
.cream:hover .soft__arrow {
  animation: productIce 1.3s infinite linear;
}
.cream .cream__content-photo {
  transition: transform 0.3s linear;
}
.cream:hover .cream__content-photo {
  transform: scale(1.1) translate(-45%, 0);
}
.cream__content {
  position: relative;
}
.cream__content-photo {
  width: 302px;
  height: 302px;
  position: absolute;
  top: -149px;
  transform: translate(-50%, 0);
}

.soft {
  text-align: center;
}
.soft__title {
  margin: 0;
  color: #131313;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 165px 0 66px 0;
}
.soft__text {
  margin: 0;
  color: #131313;
  font-size: 16px;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.64px;
  padding: 0 0 80px 0;
}
.soft__arrow {
  background-color: transparent;
  border: none;
  padding: 0 0 60px 0;
  fill: #131313;
}

.coffee {
  text-align: center;
  border-radius: 24px;
  background: #EFD478;
  width: 352px;
  height: 536px;
}
.coffee:hover .soft__arrow {
  animation: productIce 1.3s infinite linear;
}
.coffee .coffee__content-photo {
  transition: transform 0.3s linear;
}
.coffee:hover .coffee__content-photo {
  transform: scale(1.1) translate(-45%, 0);
}
.coffee__content {
  position: relative;
}
.coffee__content-photo {
  width: 302px;
  height: 302px;
  top: -149px;
  position: absolute;
  transform: translate(-50%, 0);
}

.drink__text {
  padding: 0 0 50px 0;
}
.drink__arrow {
  background-color: transparent;
  border: none;
  padding: 0 0 60px 0;
  fill: #131313;
}

.milkshakes {
  text-align: center;
  border-radius: 24px;
  background: #D6936D;
  width: 352px;
  height: 536px;
}
.milkshakes:hover .soft__arrow {
  animation: productIce 1.3s infinite linear;
}
.milkshakes .milkshakes__content-photo {
  transition: transform 0.3s linear;
}
.milkshakes:hover .milkshakes__content-photo {
  transform: scale(1.1) translate(-45%, 0);
}
.milkshakes__content {
  position: relative;
}
.milkshakes__content-photo {
  width: 302px;
  height: 302px;
  top: -149px;
  position: absolute;
  transform: translate(-50%, 0);
}

.sweet__text {
  padding: 0 0 50px 0;
}
.sweet__arrow {
  background-color: transparent;
  border: none;
  padding: 0 0 60px 0;
  fill: #131313;
}

.modal-content-chololate {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-clip: padding-box;
  outline: 0;
  border-radius: 10px;
  border: 2px solid #F8D24E;
  background-color: #FCFCFC;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.modal-header-chololate {
  display: flex;
  flex-direction: column-reverse;
  padding: var(--bs-modal-header-padding);
  border-bottom: none;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-header-chololate__title {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.chololate-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grams {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 48px 0;
}
.grams__info {
  width: 65px;
  height: 90px;
  border-radius: 40px;
  border: 2px solid #9CBE8F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grams__info-circle-text {
  color: #131313;
  text-align: center;
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: #9CBE8F;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  width: 53px;
  height: 53px;
  flex-shrink: 0;
  background-color: #9CBE8F;
  filter: drop-shadow(0px 6px 20px rgba(10, 136, 23, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.grams__info-text {
  color: #131313;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  padding: 6px 0 0 0;
}

.ingredients__title {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  padding: 0 0 24px 0;
}

.milk {
  gap: 346px;
  padding: 0 0 11px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.milk__text {
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.56px;
}
.milk__numbers {
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.56px;
}

.belgian {
  padding: 0 0 11px 0;
  gap: 262px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cream-milliters {
  padding: 0 0 11px 0;
  gap: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cocoa {
  padding: 0 0 11px 0;
  gap: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sugar {
  padding: 0 0 11px 0;
  gap: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vanilla {
  gap: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 48px 0;
}

.modal-body__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.modal-body__form-button {
  margin: 0 0 32px 0;
  border-radius: 10px;
  background-color: #F8D24E;
  padding: 12px 34px;
  border: none;
  color: #131313;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  transition: transform 0.3s linear;
}
.modal-body__form-button:hover {
  transform: scale(1.1);
}

@keyframes productIce {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(5px);
  }
  95% {
    transform: translateX(0);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url("../src/image/raster/section2-products/bg-products2x.png");
  }
}
@media (max-width: 1200px) {
  .products {
    background-image: url("../src/image/raster/section2-products/bg-products-tablet.png");
  }
  .products__content-title {
    margin: 0;
    padding: 60px 0 0 0;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: uppercase;
  }
  .products__content-natural {
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding: 0 0 12px 0;
  }
}
@media (max-width: 1200px) and (min-device-pixel-ratio: 2), (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1200px) and (min-resolution: 192dpi), (max-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../src/image/raster/section2-products/bg-products-tablet2x.png");
  }
}
@media (max-width: 1200px) {
  .ice {
    gap: 16px;
    padding: 200px 0 50px 0;
  }
  .coffee, .milkshakes, .cream {
    width: 224px;
    height: 428px;
  }
  .cream__content-photo,
  .coffee__content-photo,
  .milkshakes__content-photo {
    width: 200px;
    height: 200px;
    top: -101px;
  }
  .soft__title {
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.88px;
    text-transform: uppercase;
    padding: 108px 0 40px 0;
  }
  .soft__text {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 176%;
    letter-spacing: 0.56px;
    padding: 0 0 110px 0;
  }
  .soft__arrow {
    padding: 0 0 12px 0;
  }
  .drink__text {
    padding: 0 0 85px 0;
  }
  .drink__arrow {
    padding: 0 0 12px 0;
  }
  .sweet__text {
    padding: 0 0 85px 0;
  }
  .sweet__arrow {
    padding: 0 0 12px 0;
  }
}
@media (max-width: 768px) {
  .products__content-title {
    margin: 0;
    padding: 60px 0 0 0;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  .products__content-natural {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding: 0 0 12px 0;
  }
  .ice {
    gap: 168px;
    padding: 145px 0 50px 0;
  }
  .coffee, .milkshakes, .cream {
    width: 320px;
    height: 428px;
  }
  .soft__title {
    font-size: 20px;
    padding: 126px 0 40px 0;
  }
  .soft__text {
    padding: 0 0 100px 0;
  }
  .soft__arrow {
    padding: 0 0 16px 0;
  }
  .drink__text {
    padding: 0 0 75px 0;
  }
  .drink__arrow {
    padding: 0 0 16px 0;
  }
  .sweet__text {
    padding: 0 0 75px 0;
  }
  .sweet__arrow {
    padding: 0 0 16px 0;
  }
  .modal-content-chololate {
    width: 280px;
  }
  .grams {
    gap: 10px;
    padding: 0 0 40px 0;
  }
  .grams__info {
    width: 53px;
    height: 72px;
  }
  .grams__info-circle-text {
    font-size: 10px;
    width: 43px;
    height: 43px;
  }
  .grams__info-text {
    font-size: 10px;
    padding: 8px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 34px;
  }
  .milk {
    gap: 146px;
    justify-content: center;
  }
  .belgian {
    gap: 59px;
    justify-content: center;
  }
  .cream-milliters {
    gap: 126px;
    justify-content: center;
  }
  .cocoa {
    gap: 88px;
    justify-content: center;
  }
  .sugar {
    gap: 150px;
    justify-content: center;
  }
  .vanilla {
    gap: 102px;
    justify-content: center;
    padding: 0 0 40px 0;
  }
  .modal-body__form {
    gap: 24px;
  }
  .importantly__rules {
    width: 240px;
    height: 42px;
    padding: 11px 0 11px 10px;
  }
  .importantly__comment {
    width: 240px;
    height: 84px;
    padding: 11px 0 53px 10px;
  }
  .modal-body__form-button {
    margin: 0 0 28px 0;
  }
}
@media (max-width: 480px) {
  .products {
    background-image: url("../src/image/raster/section2-products/bg-products-mobile.png");
  }
  .products__content-title {
    padding: 61px 0 0 0;
  }
}
@media (max-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 192dpi), (max-width: 480px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../src/image/raster/section2-products/bg-products-mobile2x.png");
  }
}
@media (max-width: 480px) {
  .ice {
    padding: 148px 0 50px 0;
  }
  .coffee, .milkshakes, .cream {
    width: 280px;
    height: 420px;
  }
  .soft__title {
    padding: 123px 0 40px 0;
  }
  .soft__text {
    padding: 0 0 100px 0;
  }
  .soft__arrow {
    padding: 0 0 16px 0;
  }
  .drink__text {
    padding: 0 0 75px 0;
  }
  .sweet__text {
    padding: 0 0 75px 0;
  }
}
.made {
  margin: 0;
  padding: 50px 0 178px 0;
  background-color: #84A178;
}
.made__content {
  flex-direction: column;
  gap: 80px;
}
.made__title-group {
  flex-direction: column;
  gap: 12px;
}
.made__small-title {
  color: #FCFCFC;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.made__title {
  color: #FCFCFC;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}
.made__main-content {
  flex-direction: column;
  gap: 60px;
}
.made__info-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 110px;
}
.made__info-image {
  width: 491px;
  height: 529px;
  flex-shrink: 0;
}
.made__description {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 54px;
}
.made__article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
.made__paragraf {
  width: 463px;
  color: #FCFCFC;
  font-size: 16px;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.64px;
}
.made__description-btn {
  gap: 4px;
  padding: 12px 35px;
  border-radius: 10px;
  background: #F8D24E;
  color: #000;
  fill: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  transition: all 0.2s ease-in-out;
}
.made__description-btn:hover {
  transform: scale(1.1);
  background: #0A8817;
}
.made__description-btn:focus {
  color: #FCFCFC;
  fill: #FCFCFC;
  background: #0A8817;
}
.made__description-btn:disabled {
  background: #ABABAB;
}
.made__btn-icon {
  width: 12px;
  height: 12px;
}

.modal-made__content {
  width: 568px;
  padding: 32px 60px;
  border-radius: 10px;
  border: 2px solid #F8D24E;
  background: #FCFCFC;
  flex-direction: column;
  gap: 32px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.modal-made__title {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.modal-made__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.modal-made__main {
  flex-direction: column;
  gap: 32px;
}
.modal-made__video {
  width: 448px;
  height: 205px;
  flex-shrink: 0;
  border-radius: 10px;
}
.modal-made__paragraf {
  width: 100%;
  color: #131313;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.indexes {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 110px;
}
.indexes__card {
  flex-direction: column;
  gap: 40px;
}
.indexes__icon {
  width: 50px;
  height: 50px;
}
.indexes__text-box {
  flex-direction: column;
  gap: 12px;
}
.indexes__number {
  color: #FCFCFC;
  text-align: center;
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.32px;
  text-transform: uppercase;
}
.indexes__description {
  width: 290px;
  color: #FCFCFC;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.32px;
}

@media (max-width: 1200px) {
  .made {
    padding: 60px 0 200px 0;
  }
  .made__content {
    gap: 72px;
  }
  .made__small-title {
    font-size: 22px;
  }
  .made__title {
    font-size: 34px;
    letter-spacing: 2.04px;
  }
  .made__info-group {
    gap: 38px;
  }
  .made__info-image {
    width: 330px;
    height: 356px;
  }
  .made__description {
    gap: 32px;
  }
  .made__paragraf {
    width: 334px;
    font-size: 12px;
  }
  .indexes {
    gap: 80px;
  }
  .indexes__card {
    gap: 32px;
  }
  .indexes__number {
    font-size: 48px;
    letter-spacing: 1.92px;
  }
  .indexes__description {
    width: 152px;
    font-size: 14px;
    line-height: 174%;
  }
}
@media (max-width: 768px) {
  .made {
    padding: 60px 0 80px 0;
  }
  .made__content {
    gap: 32px;
  }
  .made__small-title {
    font-size: 18px;
  }
  .made__title {
    width: 200px;
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .made__info-group {
    flex-direction: column;
    gap: 40px;
  }
  .made__info-image {
    width: 280px;
    height: 300px;
  }
  .made__description {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
  }
  .made__article {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
  }
  .made__paragraf {
    width: 220px;
    text-align: center;
    letter-spacing: 0.48px;
  }
  .modal-made__content {
    width: 280px;
    padding: 28px;
    gap: 20px;
  }
  .modal-made__title {
    font-size: 16px;
    line-height: 24px;
  }
  .modal-made__close-btn {
    width: 20px;
    height: 20px;
  }
  .modal-made__main {
    gap: 20px;
  }
  .modal-made__video {
    width: 224px;
    height: 199px;
  }
  .modal-made__paragraf {
    font-size: 14px;
  }
  .indexes {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
  .indexes__card {
    gap: 16px;
  }
  .indexes__text-box {
    gap: 16px;
  }
  .indexes__number {
    font-size: 36px;
    letter-spacing: 1.44px;
  }
  .indexes__description {
    width: 230px;
    font-size: 12px;
    line-height: 170%;
  }
}
@media (max-width: 480px) {
  .made {
    padding: 60px 0 70px 0;
  }
  .indexes {
    gap: 30px;
  }
}
.reviews {
  margin: 0;
  background-image: url("../src/image/raster/section4-reviews/background_desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reviews__content {
  padding-top: 464px;
  padding-bottom: 222px;
  position: relative;
}
.reviews__main-image {
  width: 1013px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 24px;
  position: absolute;
  top: -98px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews__client-avatar {
  width: 85px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 50%;
}
.reviews__commit-box {
  padding: 43px 109px;
  border-radius: 24px;
  background: #84A178;
  transition: all 0.2s ease-in-out;
}
.reviews__commit-box:hover {
  background-color: #D6936D;
}
.reviews__commit {
  color: #FCFCFC;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
  width: 750px;
}
.reviews__client-info {
  color: #131313;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
}

.swiper {
  box-sizing: content-box;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}

.swiper-slide {
  flex-direction: column;
  gap: 32px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 9px 0 9px !important;
}

.swiper-pagination-bullet-active {
  background-color: #84A178;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../src/image/raster/section4-reviews/background_desktop@2x.png");
  }
}
@media (max-width: 1200px) {
  .reviews {
    background-image: url("../src/image/raster/section4-reviews/background_tablet.png");
  }
  .reviews__content {
    padding-top: 283px;
    padding-bottom: 373px;
  }
  .reviews__main-image {
    width: 704px;
    height: 327px;
    border-radius: 18px;
    top: -144px;
  }
  .reviews__client-avatar {
    width: 84px;
    height: 84px;
  }
  .reviews__commit-box {
    padding: 28px 80px;
  }
  .reviews__commit {
    font-size: 14px;
    letter-spacing: 0.56px;
    width: 545px;
  }
}
@media (max-width: 1200px) and (min-device-pixel-ratio: 2), (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1200px) and (min-resolution: 192dpi), (max-width: 1200px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../src/image/raster/section4-reviews/background_tablet@2x.png");
  }
}
@media (max-width: 768px) {
  .reviews__content {
    padding-top: 235px;
    padding-bottom: 399px;
  }
  .reviews__main-image {
    width: 440px;
    height: 204px;
    border-radius: 8px;
    top: -50px;
  }
  .reviews__client-avatar {
    width: 85px;
    height: 85px;
  }
  .reviews__commit-box {
    padding: 35px 39px;
    border-radius: 10px;
  }
  .reviews__commit {
    font-size: 12px;
    font-weight: 400;
    line-height: 255%;
    width: 202px;
  }
  .reviews__client-info {
    font-size: 20px;
  }
  .swiper {
    padding-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .reviews {
    background-image: url("../src/image/raster/section4-reviews/background_mobile.png");
  }
  .reviews__content {
    padding-top: 224px;
    padding-bottom: 407px;
  }
  .reviews__main-image {
    width: 280px;
    height: 130px;
    top: -36px;
  }
}
@media (max-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 192dpi), (max-width: 480px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../src/image/raster/section4-reviews/background_mobile@2x.png");
  }
}
.footer {
  background-color: #84a178;
  position: relative;
}
.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__content-text {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.24px;
  padding: 12px 0 12px 0;
  width: 255px;
}
.footer__content-line {
  background-color: #E1E1E1;
  width: 1167px;
  height: 0.1px;
}

.sterling {
  gap: 32px;
  top: -114px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding: 35px;
  width: 368px;
  height: 542px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s linear;
}
.cafe:hover {
  transform: scale(0.96);
}
.cafe:hover:before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent, #03b100);
  animation: rotate 2s linear infinite;
}
.cafe:hover:after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent, #4b00c5);
  animation: rotate 2s linear infinite;
  animation-delay: -1s;
}
.cafe__content {
  position: absolute;
  inset: 5px;
  z-index: 2;
  border-radius: 16px;
  background-color: #fff;
  padding: 14px 14px 14px 14px;
}
.cafe__content-mark {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.64px;
  width: 76px;
  height: 30px;
  border-radius: 6px;
  background: #f8d24e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 32px 0;
}
.cafe__content-food {
  width: 148px;
  height: 30px;
}

.chicago {
  display: flex;
  flex-direction: column;
}
.chicago__text {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
  padding: 0 0 8px 0;
}
.chicago__map {
  color: #d6936d;
  font-size: 16px;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.64px;
  padding: 0 0 32px 0;
  text-decoration-line: none;
  transition: text-decoration-line 0.3s linear;
}
.chicago__map:hover {
  text-decoration-line: underline;
  cursor: url("/src/image/raster/section5-footer/cursor.png"), auto;
}
.chicago__link {
  width: 262px;
}
.chicago__food {
  width: 288px;
}
.chicago__new {
  width: 261px;
}

.monday {
  padding: 32px 0 12px 0;
}
.monday__week {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
}
.monday__time {
  color: #ababab;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
}

.sunday {
  padding: 0 0 32px 0;
}

.address {
  padding: 32px 0 40px 0;
}
.address__link {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding: 0 0 4px 0;
}
.address__email {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.our {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 490px 0 120px 0;
  flex-wrap: wrap;
}

.franchise svg {
  fill: #000;
}
.franchise__button {
  color: #131313;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px 40px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #f8d24e;
  transition: border 0.3s linear, transform 0.3s linear;
}
.franchise__button:hover {
  border: 2px solid #0A8817;
  transform: scale(1.1);
}
.franchise__button:focus {
  color: #FFF;
  border: 2px solid #0A8817;
}
.franchise__button:focus svg {
  fill: #FFF;
}

.location svg {
  fill: #000;
}
.location__button {
  color: #131313;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #f8d24e;
  padding: 14px 40px;
  border: none;
  border-radius: 10px;
  transition: bg-color 0.3s linear, transform 0.3s linear;
}
.location__button:hover {
  background-color: #0A8817;
  transform: scale(1.1);
}
.location__button:focus {
  color: #FFF;
  background-color: #0A8817;
}
.location__button:focus svg {
  fill: #FFF;
}
.location__modal-title {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 0 32px 0;
}
.location__modal-button {
  color: #131313;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 34px;
  border-radius: 10px;
  background: #f8d24e;
  margin: 0 0 32px 0;
  transition: transform 0.3s linear;
}
.location__modal-button:hover {
  transform: scale(1.1);
}

.modal-header-franchise {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem 1rem 0 1rem;
  border-bottom: none;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-body-content {
  position: relative;
  flex: 1 1 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content-all {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: #fcfcfc;
  background-clip: padding-box;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  outline: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.modal-header-location {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem 1rem 0 1rem;
  border-bottom: none;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-body-location {
  position: relative;
  flex: 1 1 auto;
  padding: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.modal-content-location {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: #fcfcfc;
  background-clip: padding-box;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  outline: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.modal-title-franchise {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 0 24px 0;
}

.modal-body__text {
  color: #131313;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  padding: 0 0 32px 0;
}

.passion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 333px;
  padding: 0 0 60px 0;
}
.passion__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.passion__title {
  color: #fcfcfc;
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.48px;
  text-transform: uppercase;
}
.passion__title-made {
  color: #fcfcfc;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: 504px;
}

.feel {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 35px;
}

.social {
  gap: 30px;
  display: flex;
  align-items: center;
}
.social__github {
  fill: #84a178;
  transition: fill 0.3s linear;
}
.social__github:hover {
  fill: #FFF;
}
.social__github:focus {
  fill: #FFF;
}
.social__telegram {
  fill: #84a178;
  transition: fill 0.3s linear;
}
.social__telegram:hover {
  fill: #FFF;
}
.social__telegram:focus {
  fill: #FFF;
}
.social__facebook {
  fill: #84a178;
  transition: fill 0.3s linear;
}
.social__facebook:hover {
  fill: #FFF;
}
.social__facebook:focus {
  fill: #FFF;
}
.social .icon {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), transform 0.3s linear;
}
.social .icon:hover {
  transform: translateY(5px) scale(1.1);
}
.social .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social .icon:hover .tooltip {
  top: -34px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.social .icon:hover span, .social .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.social .facebook:hover .tooltip, .social .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}
.social .telegram:hover .tooltip, .social .telegram:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}
.social .github:hover .tooltip, .social .github:hover .tooltip::before {
  background: #333333;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact__text {
  color: #131313;
  font-size: 16px;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
  width: 171px;
}
.contact__phone {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
  width: 164px;
}

hr {
  padding: 0;
  margin: 0;
}

address {
  margin: 0;
  padding: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1200px) {
  .footer__content-line {
    width: 768px;
  }
  .sterling {
    gap: 16px;
    top: -284px;
  }
  .cafe {
    padding: 35px 24px;
    width: 224px;
    height: 537px;
  }
  .chicago {
    display: flex;
    flex-direction: column;
  }
  .chicago__text {
    font-size: 14px;
    padding: 0 0 12px 0;
  }
  .chicago__map {
    font-size: 14px;
  }
  .chicago__link {
    width: 173px;
  }
  .chicago__food {
    width: 185px;
  }
  .chicago__new {
    width: 159px;
  }
  .monday {
    padding: 32px 0 8px 0;
  }
  .monday__week {
    font-size: 14px;
  }
  .monday__time {
    font-size: 14px;
  }
  .address__link {
    font-size: 14px;
  }
  .address__email {
    font-size: 14px;
  }
  .passion__title-made {
    color: #fcfcfc;
    font-size: 29px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    width: 386px;
  }
  .passion__content {
    gap: 8px;
  }
  .passion {
    gap: 66px;
    padding: 0 0 32px 0;
  }
  .passion__title {
    font-size: 48px;
    width: 386px;
  }
  .contact__text {
    font-size: 14px;
    width: 156px;
  }
  .contact__phone {
    font-size: 14px;
    width: 146px;
  }
  .footer__content-text {
    font-size: 14px;
    padding: 12px 0 12px 0;
    width: 297px;
  }
  .our {
    padding: 290px 0 40px 0;
  }
}
@media (max-width: 768px) {
  .footer__content-line {
    width: 480px;
  }
  .sterling {
    flex-wrap: wrap;
    top: -338px;
  }
  .cafe {
    padding: 35px 32px;
    width: 280px;
    height: 412px;
  }
  .chicago__text {
    font-size: 12px;
    padding: 0 0 8px 0;
  }
  .chicago__map {
    font-size: 12px;
    padding: 0 0 24px 0;
  }
  .chicago__link {
    width: 195px;
  }
  .chicago__food {
    width: 216px;
  }
  .chicago__new {
    width: 192px;
  }
  .cafe__content-mark {
    font-size: 12px;
    width: 80px;
    height: 22px;
    margin: 0 0 20px 0;
  }
  .cafe__content-food {
    width: 130px;
    height: 22px;
  }
  .monday {
    padding: 24px 0 8px 0;
  }
  .monday__week {
    font-size: 12px;
  }
  .monday__time {
    font-size: 12px;
  }
  .sunday {
    padding: 0 0 24px 0;
  }
  .address__link {
    font-size: 12px;
  }
  .address__email {
    font-size: 12px;
  }
  .address {
    padding: 24px 0 24px 0;
  }
  .our {
    flex-direction: column;
    align-items: center;
    padding: 950px 0 60px 0;
    flex-wrap: wrap;
  }
  .franchise__button {
    padding: 12px 50px;
  }
  .passion__title-made {
    color: #fcfcfc;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    width: 253px;
  }
  .passion {
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
    padding: 0 0 40px 0;
  }
  .passion__title {
    font-size: 34px;
    width: 310px;
  }
  .feel {
    gap: 20px;
  }
  .contact__text {
    font-size: 12px;
    width: 130px;
  }
  .contact__phone {
    font-size: 12px;
    width: 124px;
  }
  .social {
    gap: 20px;
  }
  .footer__content-text {
    font-size: 14px;
    padding: 20px 0 20px 0;
    width: 163px;
  }
  .location__modal-title {
    font-size: 16px;
    padding: 0 0 20px 0;
  }
  .modal-content-location {
    width: 280px;
  }
  .location__modal-map {
    width: 224px;
    height: 199px;
  }
  .modal-content-all {
    width: 280px;
  }
  .modal-title-franchise {
    font-size: 16px;
    padding: 0 0 20px 0;
    line-height: 24px;
  }
  .modal-body__text {
    font-size: 14px;
    padding: 0 20px 24px 30px;
  }
  .registration__input {
    width: 224px;
    height: 32px;
    padding: 8px 0 8px 12px;
  }
  .registration__commit {
    width: 224px;
    height: 64px;
    padding: 8px 0 39px 12px;
  }
}
@media (max-width: 480px) {
  .footer__content-line {
    width: 320px;
  }
  .modal-content-location {
    width: 280px;
  }
  .modal-content-all {
    width: 280px;
  }
  .passion {
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}