%position-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%decor-font {
    font-family: "Seymour One";
    font-style: normal;
}
%main-font {
    font-family: Montserrat;
    font-style: normal;
}
%special-font {
    font-family: "DM Sans";
    font-style: normal;
}