$white-standard: #FFF;
$white-tender: #FCFCFC;
$yellow-standard: #F8D24E;
$yellow-weak: #EFD478;
$black: #000;
$black-standrd: #131313;
$background-green: #84A178;
$pistachio: #96AF8C;
$chocolate: #D6936D;