$white-standard: #FFF;
$white-tender: #FCFCFC;
$yellow-standard: #F8D24E;
$yellow-weak: #EFD478;
$black: #000;
$black-standrd: #131313;
$background-green: #84A178;
$pistachio: #96AF8C;
$chocolate: #D6936D;
$green_hover: #0A8817;
$green_focus: #0A8817;
$grey_disabled: #ABABAB;

$light-black-product: #131313;
$light-gray-product: #AEC6A5;
$box-shadow-dark-pink-product: rgba(212, 20, 67, 0.10);
$light-yellow-product: #EFD478;
$bg-light-orange-product: #D6936D;
$yellow-modal-product: #F8D24E;
$white-modal-dark-product: #FCFCFC;
$gray-grams-modal-product: #9CBE8F;
$filter-green-dark-modal-product: rgba(10, 136, 23, 0.25);
$border-gray-modal-product: #84A178;
$bg-importantly-modal-product: rgba(248, 210, 78, 0.10);

$cafe-footer-light-yellow: #f8d24e;
$chicago-footer-light-orange: #d6936d;
$monday-footer-light-gray: #ababab;
$modal-bg-footer-light-white: #fcfcfc;
$registration-footer-bg-light-yellow: rgba(248, 210, 78, 0.1);
$social-fill-footer-gray: #333333;
$social-fill-footer-light-blue: #1da1f2;
$social-fill-footer-blue: #1877f2;
$social-box-shadow-black: rgba(0, 0, 0, 0.1);
$light-green-footer: #84a178;
$light-gray-footer: #7a7a7a;
$white-footer: #fff;
$box-shadow-pink-footer: rgba(212, 20, 67, 0.1);
$green-footer: #03b100;
$purple-footer: #4b00c5;